/* typografie */
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
    margin-top: 8em;
    font-family: museo sans;
    padding: 0 5vw;
}

h1 {
    font-family: museo sans;
    font-weight: 900;
    color:#972582;
}

h2 {
    font-family: museo sans;
    font-weight: 100;
    font-size: 2em;
    color: #2b3940;
    margin: 0;
}

h3 {
    font-family: museo sans;
    font-size: 1.3em;
    font-weight: 900;
    color:#972582;
}

p {
    font-weight: 300;
    font-size: 1em;
    color: #2b3940;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: #2b3940;
}

a:visited {
    text-decoration: none;
}

/* Zerostate */

.zero{
  background: #972582;
  color: white;
  padding: 0.8em;
  margin-top: 2em;
}

.download{
  padding-left: 1em;
}


/* Header */
header {
    background-color: white;
    border-bottom: 1px solid #999;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 1em;
    margin-right: 1em;
    z-index: 1;
    padding: 0.4em;
    height: 3.5em;
    justify-content: space-between;
    animation: slidein-top 1.2s ease;
}

@keyframes slidein-top {
  from {
    margin-top: -20%;
  }
  to {
    margin-top: 0%;
  }
}

header img {
    height: 4.5em;
    vertical-align: middle;
}



header form {
    margin: 0;
}

form h2 {
    color: #fff;
    margin-top: 1em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

/* Filter */
#filterForm {
    background: #972582;
    position: absolute;
    top: -666em;
    opacity: 0;
    transition: opacity .6s 0s cubic-bezier(.19, 1, .22, 1);
}

#filterForm.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

#filterForm label {
    color: white;
    opacity: 0.4;
    font-size: 1.5em;
    padding: 0.5em;
    display: flex;
    font-weight: 300;
    transition: 0.2s;
}

#filterForm input {
    position: absolute;
    top: -666em;
}

#filterForm input:checked + label {
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    opacity: 1;
}

#filterForm input:hover + label {
    opacity: 0.9;
}

button.filterButton {
    background: none;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 1em;

}

header > button > img {
    width: 2.5em;
    padding-right: 1em;
}

.closeButton{
    position: absolute;
    top: 2.5em;
    right: 1.5em;
    background: none;
    border: none;
    transition: opacity .6s 0s cubic-bezier(.19, 1, .22, 1);
}

.closeButton img{
    height: 20px;
}

.submitFilter{
  background-color: white;
  font-size: 1.2em;
  font-weight: 700;
  color: #972582;
  text-transform: none;
  display: flex;
  text-align: center;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 4px;
}

form div{
    position: relative;
}

/* Search */
button.searchButton {
    background: none;
    border: none;
    padding-left: 5em;
}

#searchForm {
    background: #972582;
    position: absolute;
    top: -666em;
    left: -666em;
    opacity: 0;
    transition: opacity .6s 0s cubic-bezier(.19, 1, .22, 1);
}

#searchForm.show {
    display: block;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchStyle {
    background: #972582;
    border: 0;
    border-bottom: 2px solid #fff;
    font-size: 1em;
    width: 65%;
    height: 5%;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1.2em;
    font-family: museo sans;
    font-weight: 300;
    color: white;
    outline: 0;
}

#searchStyle::placeholder{
    color:white;
    opacity: 0.4;
}

#searchForm > button{
    display: none;
}

/* Header for detail page */
#headerDetail{
      justify-content: center;
      align-items: center;
}

#headerLogo{
  padding-top: 1.2em;
}

#closeDetail{
    position: absolute;
    left: 1em;
    height: 1.4em;
    top: 1.6em;

}

/* trending/aanbevolen/random filter */
ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin-top: 8em;
    margin-bottom: 2em;
    font-size: 1em;
    justify-content: space-between;
    padding: 0;
    animation: slidein-article 1.2s ease-out;
}

 .nav :hover{
  font-weight: 700;
  color: #972582;
  animation: .3s ease-out;
}

.highlight{
    font-weight: 700;
    color: #972582;
}

/* verhalen */
article {
    background: white;
    border: 1px solid #999;
    margin-bottom: 1.8em;
    min-height: 10vw;
    text-decoration: none;
    animation: slidein-article 1.2s ease-out;
}

@keyframes slidein-article {
  from {
    margin-top: -4%;
  }
  to {
    margin-top: 0%;
  }
}

article img {
    height: 30vw;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

article a {
    text-decoration: none;
}

article p {
    margin-left: 1em;
    margin-top: 0;
}

article section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;

}

em {
    padding-top: 0.3em;
    font-size: 2.2em;
    color: #972582;
    border-bottom: 5px solid #FFDF5D;
}

/* Verhaal */
span{
  font-size: 1.4em;
  font-family: 'Luckiest Guy', cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}


#verhaal{
   background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;
   padding: 1em;
   animation: slidein-article 1.2s ease-out;
   margin-bottom: 2em;
}

#verhaal > p{
  font-size: 1em;
  margin: 1.5em;
  color: white;
}

.rating{
  margin-bottom: 2em;
}

.rating label{
  font-size: 2em;
  margin-right: 1em;
  color: grey;
  border-bottom: 5px solid transparant;
}

.rating label:hover{
  color: #972582;
  border-bottom: 5px solid #FFDF5D;
  transition: all .5s ease-out;
}

.rating input{
    display: none;
}

.rating input:checked + label{
  color: #972582;
  font-size: 3em;
  border-bottom: 5px solid #FFDF5D;
  transition: all .5s ease-out;
}

/* shake animation Bron: https://csshake.surge.sh/ */
.shake {
  display: inherit;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake {
  animation-play-state: running; }

@keyframes shake {
  2% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  4% {
    transform: translate(0.5px, -0.5px) rotate(1.5deg); }
  6% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  8% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  10% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  12% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  14% {
    transform: translate(2.5px, -0.5px) rotate(1.5deg); }
  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
  18% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  20% {
    transform: translate(-0.5px, 2.5px) rotate(-0.5deg); }
  22% {
    transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  24% {
    transform: translate(1.5px, -1.5px) rotate(1.5deg); }
  26% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  28% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  30% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  32% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  34% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
  36% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
  38% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  40% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  42% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
  44% {
    transform: translate(1.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  48% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg); }
  50% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg); }
  52% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  54% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  56% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg); }
  58% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg); }
  60% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg); }
  62% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  64% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg); }
  66% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  68% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  70% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg); }
  72% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg); }
  74% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  76% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  78% {
    transform: translate(-0.5px, 2.5px) rotate(-0.5deg); }
  80% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  82% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  84% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg); }
  86% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  88% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  90% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  92% {
    transform: translate(1.5px, 2.5px) rotate(0.5deg); }
  94% {
    transform: translate(2.5px, -0.5px) rotate(1.5deg); }
  96% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  98% {
    transform: translate(1.5px, 2.5px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

  .shake-hard {
  display: inherit;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-hard:hover,
.shake-trigger:hover .shake-hard {
  animation-play-state: running; }

@keyframes shake-hard {
  2% {
    transform: translate(-2px, 0px) rotate(1.5deg); }
  4% {
    transform: translate(2px, 4px) rotate(-1.5deg); }
  6% {
    transform: translate(-5px, 5px) rotate(2.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(3.5deg); }
  10% {
    transform: translate(7px, -3px) rotate(-1.5deg); }
  12% {
    transform: translate(-4px, 6px) rotate(0.5deg); }
  14% {
    transform: translate(-4px, -7px) rotate(-1.5deg); }
  16% {
    transform: translate(1px, 5px) rotate(-0.5deg); }
  18% {
    transform: translate(-8px, 1px) rotate(1.5deg); }
  20% {
    transform: translate(1px, -8px) rotate(1.5deg); }
  22% {
    transform: translate(10px, -2px) rotate(0.5deg); }
  24% {
    transform: translate(-8px, 5px) rotate(2.5deg); }
  26% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(3px, -4px) rotate(3.5deg); }
  30% {
    transform: translate(5px, -5px) rotate(0.5deg); }
  32% {
    transform: translate(1px, -3px) rotate(-0.5deg); }
  34% {
    transform: translate(5px, -3px) rotate(0.5deg); }
  36% {
    transform: translate(-8px, -3px) rotate(1.5deg); }
  38% {
    transform: translate(2px, 0px) rotate(3.5deg); }
  40% {
    transform: translate(-7px, 1px) rotate(1.5deg); }
  42% {
    transform: translate(9px, 1px) rotate(3.5deg); }
  44% {
    transform: translate(-1px, -8px) rotate(-0.5deg); }
  46% {
    transform: translate(-7px, -2px) rotate(0.5deg); }
  48% {
    transform: translate(2px, -4px) rotate(3.5deg); }
  50% {
    transform: translate(8px, -9px) rotate(2.5deg); }
  52% {
    transform: translate(-6px, -5px) rotate(1.5deg); }
  54% {
    transform: translate(7px, -8px) rotate(2.5deg); }
  56% {
    transform: translate(-3px, -3px) rotate(1.5deg); }
  58% {
    transform: translate(8px, 3px) rotate(3.5deg); }
  60% {
    transform: translate(7px, 1px) rotate(3.5deg); }
  62% {
    transform: translate(1px, 4px) rotate(0.5deg); }
  64% {
    transform: translate(0px, 4px) rotate(2.5deg); }
  66% {
    transform: translate(-2px, 6px) rotate(1.5deg); }
  68% {
    transform: translate(-8px, 10px) rotate(2.5deg); }
  70% {
    transform: translate(7px, 10px) rotate(-1.5deg); }
  72% {
    transform: translate(8px, -3px) rotate(-0.5deg); }
  74% {
    transform: translate(-6px, -8px) rotate(-2.5deg); }
  76% {
    transform: translate(8px, -3px) rotate(-1.5deg); }
  78% {
    transform: translate(5px, -1px) rotate(1.5deg); }
  80% {
    transform: translate(4px, -7px) rotate(3.5deg); }
  82% {
    transform: translate(3px, -8px) rotate(0.5deg); }
  84% {
    transform: translate(1px, 8px) rotate(0.5deg); }
  86% {
    transform: translate(5px, 2px) rotate(2.5deg); }
  88% {
    transform: translate(-9px, -7px) rotate(-2.5deg); }
  90% {
    transform: translate(9px, 2px) rotate(2.5deg); }
  92% {
    transform: translate(-2px, -3px) rotate(-2.5deg); }
  94% {
    transform: translate(2px, 2px) rotate(-1.5deg); }
  96% {
    transform: translate(4px, 6px) rotate(1.5deg); }
  98% {
    transform: translate(3px, 6px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-hard:hover,
.shake-trigger:hover .shake-hard, .shake-hard.shake-freeze, .shake-hard.shake-constant {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

  .shake-vertical{
    display:inherit;
    transform-origin:center center
}
.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{
    animation-play-state:paused
}
.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-vertical:hover,.shake-trigger:hover .shake-vertical{
    animation-play-state:running
}
@keyframes shake-vertical{
    2%{
        transform:translate(0, -5px) rotate(0)
    }
    4%{
        transform:translate(0, -8px) rotate(0)
    }
    6%{
        transform:translate(0, 6px) rotate(0)
    }
    8%{
        transform:translate(0, -8px) rotate(0)
    }
    10%{
        transform:translate(0, 6px) rotate(0)
    }
    12%{
        transform:translate(0, 7px) rotate(0)
    }
    14%{
        transform:translate(0, 9px) rotate(0)
    }
    16%{
        transform:translate(0, 9px) rotate(0)
    }
    18%{
        transform:translate(0, 9px) rotate(0)
    }
    20%{
        transform:translate(0, 5px) rotate(0)
    }
    22%{
        transform:translate(0, -4px) rotate(0)
    }
    24%{
        transform:translate(0, -9px) rotate(0)
    }
    26%{
        transform:translate(0, 2px) rotate(0)
    }
    28%{
        transform:translate(0, -9px) rotate(0)
    }
    30%{
        transform:translate(0, -8px) rotate(0)
    }
    32%{
        transform:translate(0, -7px) rotate(0)
    }
    34%{
        transform:translate(0, -4px) rotate(0)
    }
    36%{
        transform:translate(0, -5px) rotate(0)
    }
    38%{
        transform:translate(0, -6px) rotate(0)
    }
    40%{
        transform:translate(0, -1px) rotate(0)
    }
    42%{
        transform:translate(0, -9px) rotate(0)
    }
    44%{
        transform:translate(0, 5px) rotate(0)
    }
    46%{
        transform:translate(0, 10px) rotate(0)
    }
    48%{
        transform:translate(0, 7px) rotate(0)
    }
    50%{
        transform:translate(0, 0px) rotate(0)
    }
    52%{
        transform:translate(0, -1px) rotate(0)
    }
    54%{
        transform:translate(0, 9px) rotate(0)
    }
    56%{
        transform:translate(0, -8px) rotate(0)
    }
    58%{
        transform:translate(0, 1px) rotate(0)
    }
    60%{
        transform:translate(0, 5px) rotate(0)
    }
    62%{
        transform:translate(0, -3px) rotate(0)
    }
    64%{
        transform:translate(0, 9px) rotate(0)
    }
    66%{
        transform:translate(0, 5px) rotate(0)
    }
    68%{
        transform:translate(0, -6px) rotate(0)
    }
    70%{
        transform:translate(0, 10px) rotate(0)
    }
    72%{
        transform:translate(0, -6px) rotate(0)
    }
    74%{
        transform:translate(0, 3px) rotate(0)
    }
    76%{
        transform:translate(0, -4px) rotate(0)
    }
    78%{
        transform:translate(0, -4px) rotate(0)
    }
    80%{
        transform:translate(0, -5px) rotate(0)
    }
    82%{
        transform:translate(0, 1px) rotate(0)
    }
    84%{
        transform:translate(0, -6px) rotate(0)
    }
    86%{
        transform:translate(0, -1px) rotate(0)
    }
    88%{
        transform:translate(0, 3px) rotate(0)
    }
    90%{
        transform:translate(0, 7px) rotate(0)
    }
    92%{
        transform:translate(0, 2px) rotate(0)
    }
    94%{
        transform:translate(0, -3px) rotate(0)
    }
    96%{
        transform:translate(0, -1px) rotate(0)
    }
    98%{
        transform:translate(0, 2px) rotate(0)
    }
    0%,100%{
        transform:translate(0, 0) rotate(0)
    }
}
.shake-vertical:hover,.shake-trigger:hover .shake-vertical,.shake-vertical.shake-freeze,.shake-vertical.shake-constant{
    animation-name:shake-vertical;
    animation-duration:100ms;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite
}

.shake-little{
    display:inherit;
    transform-origin:center center
}
.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{
    animation-play-state:paused
}
.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-little:hover,.shake-trigger:hover .shake-little{
    animation-play-state:running
}
@keyframes shake-little{
    2%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    4%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    6%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    8%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    10%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    12%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    14%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    16%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    18%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    20%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    22%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    24%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    26%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    28%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    30%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    32%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    34%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    36%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    38%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    40%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    42%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    44%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    46%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    48%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    50%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    52%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    54%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    56%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    58%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    60%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    62%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    64%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    66%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    68%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    70%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    72%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    74%{
        transform:translate(0px, 1px) rotate(.5deg)
    }
    76%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    78%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    80%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    82%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    84%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    86%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    88%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    90%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    92%{
        transform:translate(0px, 0px) rotate(.5deg)
    }
    94%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    96%{
        transform:translate(1px, 0px) rotate(.5deg)
    }
    98%{
        transform:translate(1px, 1px) rotate(.5deg)
    }
    0%,100%{
        transform:translate(0, 0) rotate(0)
    }
}
.shake-little:hover,.shake-trigger:hover .shake-little,.shake-little.shake-freeze,.shake-little.shake-constant{
    animation-name:shake-little;
    animation-duration:100ms;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite
}


/* media queuries */
@media (min-width: 768px)
   {
      ul{
          margin-left: 3em;
          margin-right: 3em;
      }

      .articleList{
          display: flex;
          min-width: 675px;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      article{
          max-width: 48%;
          margin-bottom: 2.7em;
      }
      article img {
          height: 20vw;
      }

      #verhaal{
        padding: 8em;
      }

      #verhaal > P{
        font-size: 1.6em;
      }

}

@media (min-width: 1280px)
   {
     ul{
         margin-left: 15em;
         margin-right: 15em;
     }
      .articleList{
          display: flex;
          min-width: 1136px;
          flex-wrap: wrap;
          justify-content: space-between;

      }
      article{
          max-width: 32%;
          margin-bottom: 1.5em;
      }

      article img {
          height: 18vw;
      }

      #verhaal{
        padding: 8em;
      }

      #verhaal > P{
        font-size: 2em;

      }

}
